<h1>Create Plate </h1>
<hr/>

<div class="row">
    .<div class="col-md-4">
        <form action="/Warehause/Create" method="post">
            <div class="form-group  mb-3">
                <label class="control-label" for="Hardnes">Hardness</label>
                <input class="form-control" type="text" id="Hardnes" name-"Hardnes">
            </div>
            <div class="form-group  mb-3">
                <label class="control-label" for="Width">Width</label>
                <input class="form-control" type="text" id="Width" name-"Width">
            </div>
            <div class="form-group  mb-3">
                <label class="control-label" for="Height">Height</label>
                <input class="form-control" type="text" id="Height" name-"Height">
            </div>

            <div class="form-group mb-3">
                <label class="control-label" for="Thicness">Thicness</label>
                <input class="form-control" type="text" id="Thicness" name-"Thicness">
            </div>
      
            <div class="form-group mb-3">
                <label class="control-label" for="Description">Description</label>
                <input class="form-control" type="text" id="Description" name-"Description">
            </div>

            <div class="form-group mb-3">
                <label class="control-label" for="Name">Name</label>
                <input class="form-control" type="text" id="Name" name-"PalletRack.Name">
            </div>

            <div class="from-group mb-3">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>


</div>