<h1>Create Plate </h1>
<hr/>

<div class="row">
    .<div class="col-md-4">
        <form action="/Warhause/Create" method="post">
            <div class="form-group" mb-3>

            </div>
        </form>
    </div>


</div>